{% extends "content.html" %}

{% block head %}
<script type="text/javascript" src="{{ STATIC_URL}}js/zxcvbn-async.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/password-strength-meter.js"></script>
{% endblock %}

{% block content %}
<h3>Change your Password</h3>
<form action="" method="POST">{% csrf_token %}
    <table cellspacing="0" cellpadding="0" class="login" align="center" >
        <tbody>
            {% for field in form %}
            {% if field.errors %}<tr><td></td><td>{{ field.errors }}</td></tr>{% endif %}
            <tr><td>{{ field.label }}:</td><td>{{ field }}</td></tr>
            {% endfor %}
            <tr>
                <td>Password strength:</td>
                <td class="password_strength_meter">
                    <span class="bar"><span class=""></span></span>
                    <span class="text"></span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td colspan="2"><input type="submit" value="Submit" /></td></tr>
        </tfoot>
    </table>
</form>
{% endblock %}
