include LICENSE
include README.rst
include requirements.pip
include dariah_contribute/settings/local.py.default
exclude dariah_contribute/settings/local.py

recursive-include docs *
recursive-exclude docs/_build *

recursive-include dariah_person/formats *
recursive-include dariah_person/locale *
recursive-include dariah_person/static *
recursive-include dariah_person/templates *

recursive-include dariah_annual_value/formats *
recursive-include dariah_annual_value/locale *
recursive-include dariah_annual_value/static *
recursive-include dariah_annual_value/templates *

recursive-include dariah_inkind/formats *
recursive-include dariah_inkind/locale *
recursive-include dariah_inkind/static *
recursive-include dariah_inkind/templates *

recursive-include dariah_inkind_contribs/formats *
recursive-include dariah_inkind_contribs/locale *
recursive-include dariah_inkind_contribs/static *
recursive-include dariah_inkind_contribs/templates *

recursive-include dariah_static_data/formats *
recursive-include dariah_static_data/locale *
recursive-include dariah_static_data/static *
recursive-include dariah_static_data/templates *
recursive-include dariah_static_data/skos_preflabels_data *

recursive-include dariah_accounts/formats *
recursive-include dariah_accounts/locale *
recursive-include dariah_accounts/static *
recursive-include dariah_accounts/templates *

recursive-exclude * *.pyc
recursive-exclude * .DS_Store
