include LICENSE
include README.rst
include requirements.pip
include dariah_contribute/settings/local.py.default
exclude dariah_contribute/settings/local.py

recursive-include docs *
recursive-exclude docs/_build *

recursive-include dariah_contribute/formats *
recursive-include dariah_contribute/locale *
recursive-include dariah_contribute/static *
recursive-include dariah_contribute/templates *

recursive-include dariah_core/formats *
recursive-include dariah_core/locale *
recursive-include dariah_core/static *
recursive-include dariah_core/templates *

recursive-include dariah_static_data/formats *
recursive-include dariah_static_data/locale *
recursive-include dariah_static_data/static *
recursive-include dariah_static_data/templates *
recursive-include dariah_static_data/skos_preflabels_data *

recursive-include dariah_accounts/formats *
recursive-include dariah_accounts/locale *
recursive-include dariah_accounts/static *
recursive-include dariah_accounts/templates *

recursive-exclude * *.pyc
recursive-exclude * .DS_Store
