{% extends "content_left_sidebar.html" %}
{% load i18n %}

{% block content %}
    <h3>{{ contribution.dc_title }}</h3>
    <table class="table">
    {% for field, value in contribution.attrs %}
        <tr>
            <td>{{ field }}</td>
            <td>{{ value|urlize }}</td>
        </tr>
    {% endfor %}
    {% for field, value in many2many_fields.items %}
        <tr>
            <td>{{ field }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block sidebar %}
    <h1>Actions</h1>
    <ul>
        <li><a href="{% url 'dariah_contributions:detail_rdf' contribution.dc_identifier %}">{% trans "Show as RDF" %}</a></li>
        {% if contribution.author == request.user %}
        <li><a href="{% url 'dariah_contributions:update' contribution.dc_identifier %}">{% trans 'Edit' %}</a></li>
        <li><a href="{% url 'dariah_contributions:delete' contribution.dc_identifier %}">{% trans 'Delete' %}</a></li>
        {% endif %}
    </ul>
{% endblock %}
