{% extends "content.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block content %}

    {% if request.resolver_match.url_name == 'add' %}
        {% trans 'Add' as title_type %}
    {% else %}
        {% trans 'Update' as title_type %}
    {% endif %}

    <h1>{{ title_type }} {% trans 'contribution' %}</h1>
    <form enctype="multipart/form-data" action="" method="post" role="form">{% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="{{ title_type }}" class="btn btn-default"/>
    </form>
    <p>{% trans 'Fields marked with a star (*) are compulsory.' %}</p>
{% endblock %}

{% block extra_script %}
    {% comment %}
    Instead of doing {% include 'autocomplete_light/static.html %} import the
    JS and CSS separately to make sure the CSS is included before our own CSS
    to be able to overwrite styles.
    CSS is included in contributions/templates/base.html.
    {% endcomment %}
    {% include 'autocomplete_light/_ajax_csrf.html' %}
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/addanother.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/text_widget.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/remote.js' %}"></script>
{% endblock %}
