{% extends "content_left_sidebar.html" %}

{% block content %}
		<p>
            <a href="{% url 'dariah_contributions:detail_rdf' contribution.dc_identifier %}">Show as RDF</a> |
            <a href="{% url 'dariah_contributions:update' contribution.dc_identifier %}">Edit</a> |
       		<a href="{% url 'dariah_contributions:delete' contribution.dc_identifier %}">Delete</a>
        </p>

		<h3>{{ contribution.dc_title }}</h3>
        <table class="table">
        {% for field, value in contribution.attrs %}
            <tr>
                <td>{{ field }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}
