{% extends "content_left_sidebar.html" %}

{% block content %}
	{% if user.is_authenticated %}
		<div id="login_logout_link"><button type="button"><a href="/dariah_contributions/logout/">Logout</a></button></div>
	{% endif %}

	{% if contribution_list %}
    	<table>
    		<tbody>
				<tr>
					<th> Contribution</th>
					<th> Contributor</th>
				</tr>
    			{% for contribution in contribution_list %}
        			<tr>
			        	<td width="500"><a href="{% url 'dariah_contributions:detail' contribution.id %}">{{ contribution.title }}</td>
         				<td width="200">{{ contribution.contributor }}</td>
       					<td><a href="{% url 'dariah_contributions:contribution' contribution.id %}"><div id="edit_link">Edit</div></a></td>
        			</tr>
    			{% endfor %}
    		</tbody>
    	</table>
	{% else %}
    	<p>No contributions are available.</p>
	{% endif %}
     <br><br><br>
     <br><br><br>
     <div id="new_contribution_link"><button type="button"><a href="{% url 'dariah_contributions:contribution' 0 %}">Add new contribution</a></button></div>
     <div id="home_link"><button type="button"><a href="{% url 'dariah_contributions:index' %}">Homepage</a></button></div>
{% endblock %}
