{% extends 'content.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans 'Dariah Contribute Temporarily Down for Maintenance' %}</h1>
<p>{% trans 'We are performing (scheduled) maintenance. We should be back on-line shortly. Our apologies for the inconvenience.'%}</p>
<p>&nbsp;</p>
<p>{% trans 'P.S. You might be able to access some pages, but we cannot guarantee this.' %}</p>
<p><a href="/" title="{% trans 'Go back to the homepage' %}">{% trans 'Go back to the homepage' %}</a></p>
{% endblock %}
