{% extends 'bootstrap.html' %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% block bootstrap3_content %}
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{% block title %}{% trans 'Dariah Contributions' %}{% endblock %}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'dariah_contributions:list' %}">{% trans 'Browse Contributions' %}</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'dariah_contributions:mine' %}" title="{% trans 'My Contributions' %}">{% trans 'My Contributions' %}</a></li>
                        <li><a href="{% url 'logout' %}" title="{% trans 'Log out' %}">{% trans 'Log out' %}</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}" title="{% trans 'Log in' %}">{% trans 'Log in' %}</a></li>
                    {% endif %}
                    <li><a href="/about/" title="">{% trans 'About' %}</a></li>
                </ul>
                {% comment %}
                <form class="navbar-form navbar-right">
                    <input type="text" placeholder="{% trans 'Search...' %}" class="form-control">
                </form>
                {% endcomment %}
            </div>
        </div>
    </div>
    <div class="container-fluid content-container">
        {% block main %}{% trans '(no content)' %}{% endblock %}
    </div>
{% endblock %}

{% block extra_head %}
    {% if form %}
        <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/style.css' %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="screen" />

    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}" />
    <link rel="icon" href="{% static 'imgs/favicon.ico' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}"/>
    <link rel="icon" type="image/png" href="{% static 'imgs/favicon.png' %}" />

    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.js' %}" type="text/javascript"></script>
    <![endif]-->
{% endblock %}
