{% extends "content.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <h1>Login</h1>

    <form method="post" action="{% url 'login' %}" name="loginform">{% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        <input type="submit" value="{% trans 'Log in' %}" class="btn btn-primary"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>&nbsp;</p>
    <p>
        <a href="{% url "password_reset" %}" title="{% trans 'Reset your password' %}">{% trans 'Reset your password' %}</a> {% trans 'if your username and password do not match or if you have forgotten your password.' %}<br />
        {% trans 'Contact the' %} <a href="mailto: {% trans 'info@dariah.org' %}" title="{% trans 'administrator' %}">{% trans 'administrator' %}</a> {% trans 'if you have forgotten your username, password and sign-up e-mail address' %}.
    </p>
    <p>&nbsp;</p>
    <p>
        <a href="" title="{% trans 'Register to create an account' %}">
            {% trans "Don't have an account yet?" %}
        </a>
    </p>

    <script type="text/javascript">
        window.onload=function() {
            document.loginform.username.focus();
        }
    </script>
{% endblock %}
