{% extends "content.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Reset my password" %} - {% endblock %}

{% block content %}
    <h1>{% trans "Reset my password" %}</h1>
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        <p class="help-block">{% trans "Enter the e-mail address you've registered with." %}</p>
        <input type="submit" value="{% trans "Reset my password" %}" class="btn btn-primary">
    </form>
{% endblock %}
