{% extends "content_left_sidebar.html" %}
{% load i18n %}
{% load is_url %}

{% block content %}
    <h3>{{ contribution.dc_title }}</h3>
    <table class="table">
    {% for field, value in get_fields %}
        <tr>
            <td>{{ field }}</td>
            {% if value|is_url %}
            <td>{{ value|urlize }}</td>
            {% else %}
            <td>{{ value|safe }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    <p>&nbsp;</p>
    {% spaceless %}
    <p>
    {% trans 'Contribution last modified' %}
    {{ contribution.last_modified_on }}
    {% trans 'by' %}
    {{ contribution.author.get_full_name }};
    {% if contribution.is_published %}
        {% trans 'published' %} {{ contribution.published_on }}.
    {% else %}
        {% trans 'unpublished' %}.
    {% endif %}
    </p>
    {% endspaceless %}
{% endblock %}

{% block sidebar %}
    <h1>Actions</h1>
    <ul>
        <li><a href="{% url 'dariah_core:detail_rdf' contribution.dc_identifier %}">{% trans "Show as RDF" %}</a></li>
        {% if contribution.author == request.user %}
        <li><a href="{% url 'dariah_core:update' contribution.dc_identifier %}">{% trans 'Edit' %}</a></li>
        {% comment %}<li><a href="{% url 'dariah_core:delete' contribution.dc_identifier %}">{% trans 'Delete' %}</a></li>{% endcomment %}
        {% endif %}
    </ul>
{% endblock %}

{% block extra_extra_head %}
<link rel="alternate" type="application/rdf+xml" href="{% url 'dariah_core:detail_rdf' contribution.pk %}" title="{% trans 'This page in RDF (XML)' %}" />
{% endblock %}
